@import "tailwindcss";

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

/* Setup */

:root {
  --bg-primary: #ffffff;
  --bg-secondary: #f8f9fa;
  --bg-hover: #e8e9eb;
  --text-primary: #23272f;
  --text-secondary: #505461;
  --border-primary: #23272f1a;
  --brand: #087ea4;
  --selection: #58c4dc40;
}

[data-theme=dark] {
  --bg-primary: #23272f;
  --bg-secondary: #1f2329;
  --bg-hover: #303440;
  --text-primary: #ededed;
  --text-secondary: #949ab3;
  --border-primary: #343a46;
  --brand: #58c4dc;
}

@theme {
  --color-background: var(--bg-primary);
  --color-subtle: var(--bg-secondary);
  --color-hover: var(--bg-hover);
  --color-primary: var(--text-primary);
  --color-secondary: var(--text-secondary);
  --color-brand: var(--brand);
  --color-border: var(--border-primary);
  --font-sans: var(--font-optimistic-display), "Optimistic Display", system-ui, -apple-system, sans-serif;
  --font-mono: Source Code Pro, ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, Liberation Mono, monospace;
}

/* Global styles */

body {
  @apply selection:bg-(--selection);
}

* {
  @apply focus-visible:outline-brand/75 focus-visible:outline-offset-[3px];
}
