name: Test JS

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  test-js:
    runs-on: ubuntu-latest
    if: github.repository == 'react-native-community/nightly-tests'
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Setup Node
        uses: actions/setup-node@v3
        with:
          node-version: '22'
      - name: Install deps
        run: npm install
      - name: Run tests
        run: npm test