name: Test JS

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  test-js:
    runs-on: ubuntu-latest
    if: github.repository == 'react-native-community/nightly-tests'
    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - name: Setup Node
        uses: actions/setup-node@v6
        with:
          cache: 'yarn'
      - name: Install deps
        run: npm install
      - name: Run tests
        run: npm test
